* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(63, 6, 80);
    background-attachment: fixed;
    color:rgb(142, 31, 194);
    margin: 0;
    }
.cabecalho {
    padding: 2% 0% 0% 15%; 
}
.cabecalho-menu{
    display: flex;
    gap: 80px; 
}
.cabecalho-menu-links{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(152, 14, 187);
    text-decoration: none;
}